<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JoachAutrement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <applicationSettings>
        <JoachAutrement.Properties.Settings>
            <setting name="loginBDD" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="mdpBDD" serializeAs="String">
                <value>10dp100DR</value>
            </setting>
            <setting name="savePDFLocal" serializeAs="String">
                <value>U:\Documents\</value>
            </setting>
            <setting name="ipBDD" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="savePDFCommun" serializeAs="String">
                <value>D:\JoachAutrement\</value>
            </setting>
        </JoachAutrement.Properties.Settings>
    </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
